<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softku.androidstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".example1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".example2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".example3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".example4_0506"
            android:label="@string/title_activity_example4_0506"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".example5_0516"
            android:label="@string/title_activity_example5_0516"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".example6_0701.example6_0701"
            android:label="@string/title_activity_example6_0701"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".example7_0701.example7_0701"></activity>
    </application>

</manifest>